Flask
google-generativeai
python-dotenv
Pillow
PyPDF2
Werkzeug
Flask-SQLAlchemy
Flask-Login
gunicorn
langchain
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
langchain-huggingface
